In [ ]:
#4.1 In meinem Model ist das Feld 'Broadband Mbps' devinitiv das wichtigste ohni dieses würde nichts funktionieren und der Datensatzt würden seinen Sinn verlieren.
#Ohne dieses Feld würde einfach alles keinen Sinn mehr ergeben, daher ist das Feld 'Broadband Mbps' mit Abstand das wichtigste und aussagekräftigste man könnte sagen der Datensaztz bassiert auf diesem Feld.
#4.4 Mein Model funktioneirt relativ gut ich habe zwar ein wenig einen Knappen Datensatzt denoch klappt es einigermassen gut. Meine Ergebnisse stimmen meinen Rechnungen überein und sind korrekt.
#Meine Hypothese ist jedoch das es auf lange Sicht Schwierig wird, weil es einfach an mehr Daten und Datenfeldern fehlt. Ich bin sehr zufrienden das es reibungslos geklappt hat und das die Rsultate übereinstimmen.

In [8]:
import pandas as pd
import os
path=os.path.join("broadband-dataset","Dataset.xlsx")
dataset = pd.read_excel("Dataset.xlsx")
dataset.head()

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,As of
0,Monaco,1,192.68,NaN,NaN,2022-01-01
1,Singapore,2,192.01,19.0,64.92,2022-01-01
2,Chile,3,189.36,109.0,15.50,2022-01-01
3,Thailand,4,184.03,56.0,32.38,2022-01-01
4,Hong Kong (SAR),5,173.42,38.0,45.86,2022-01-01

In [10]:
X = dataset[["Broadband Mbps", "Country","Mobile Speed Rank",]]
y = dataset[["Broadband Speed Rank"]]

X.head()

   Broadband Mbps          Country  Mobile Speed Rank
0          192.68           Monaco                NaN
1          192.01        Singapore               19.0
2          189.36            Chile              109.0
3          184.03         Thailand               56.0
4          173.42  Hong Kong (SAR)               38.0

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size = 0.2, random_state = 42)
len(X_train), len(X_test)

(143, 36)

In [15]:
#4.2
#Messmetrik 
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test))

              precision    recall  f1-score   support

          10       1.00      1.00      1.00         1
          16       1.00      1.00      1.00         1
          17       1.00      1.00      1.00         1
          19       1.00      1.00      1.00         1
          20       1.00      1.00      1.00         1
          25       1.00      1.00      1.00         1
          30       1.00      1.00      1.00         1
          31       1.00      1.00      1.00         1
          43       1.00      1.00      1.00         1
          46       1.00      1.00      1.00         1
          66       1.00      1.00      1.00         1
          67       1.00      1.00      1.00         1
          68       1.00      1.00      1.00         1
          69       1.00      1.00      1.00         1
          70       1.00      1.00      1.00         1
          77       1.00      1.00      1.00         1
          79       1.00      1.00      1.00         1
          83       1.00      1.00      1.00         1
          96       1.00      1.00      1.00         1
          99       1.00      1.00      1.00         1
         101       1.00      1.00      1.00         1
         112       1.00      1.00      1.00         1
         114       1.00      1.00      1.00         1
         115       1.00      1.00      1.00         1
         116       1.00      1.00      1.00         1
         119       1.00      1.00      1.00         1
         120       1.00      1.00      1.00         1
         123       1.00      1.00      1.00         1
         124       1.00      1.00      1.00         1
         133       1.00      1.00      1.00         1
         140       1.00      1.00      1.00         1
         143       1.00      1.00      1.00         1
         153       1.00      1.00      1.00         1
         156       1.00      1.00      1.00         1
         166       1.00      1.00      1.00         1
         169       1.00      1.00      1.00         1

    accuracy                           1.00        36
   macro avg       1.00      1.00      1.00        36
weighted avg       1.00      1.00      1.00        36

In [22]:
#Bedinungen und Genauigkeit
TP= 42
TN = 32
FP = 8
FN = 18
genauigkeit = (TP + TN)/(TP + TN + FP + FN)
print(genauigkeit)

0.74

In [23]:
#Sensitivität
TP = 114
FN = 0
# FT (14) und TN (12) werden nicht benötigt!
recall = TP / (TP + FN)
print(f"recall: {recall:4.2f}")

recall: 1.00

In [24]:
#Spezifizät
TF = 7 
print("  FN    FP   TP     pre   acc   rec   f1")
for FN in range(0, 7):
    for FP in range(0, FN+1):
        TP = 100 - FN - FP - TF
        #print(FN, FP, TP, FN+FP+TP+TF)
        precision = TP / (TP + FP)
        accuracy = (TP + TN)/(TP + TN + FP + FN)
        recall = TP / (TP + FN)
        f1_score = 2 * precision * recall / (precision + recall)
        print(f"{FN:6.2f}{FP:6.2f}{TP:6.2f}", end="")
        print(f"{precision:6.2f}{accuracy:6.2f}{recall:6.2f}{f1_score:6.2f}")

  FN    FP   TP     pre   acc   rec   f1
  0.00  0.00 93.00  1.00  1.00  1.00  1.00
  1.00  0.00 92.00  1.00  0.99  0.99  0.99
  1.00  1.00 91.00  0.99  0.98  0.99  0.99
  2.00  0.00 91.00  1.00  0.98  0.98  0.99
  2.00  1.00 90.00  0.99  0.98  0.98  0.98
  2.00  2.00 89.00  0.98  0.97  0.98  0.98
  3.00  0.00 90.00  1.00  0.98  0.97  0.98
  3.00  1.00 89.00  0.99  0.97  0.97  0.98
  3.00  2.00 88.00  0.98  0.96  0.97  0.97
  3.00  3.00 87.00  0.97  0.95  0.97  0.97
  4.00  0.00 89.00  1.00  0.97  0.96  0.98
  4.00  1.00 88.00  0.99  0.96  0.96  0.97
  4.00  2.00 87.00  0.98  0.95  0.96  0.97
  4.00  3.00 86.00  0.97  0.94  0.96  0.96
  4.00  4.00 85.00  0.96  0.94  0.96  0.96
  5.00  0.00 88.00  1.00  0.96  0.95  0.97
  5.00  1.00 87.00  0.99  0.95  0.95  0.97
  5.00  2.00 86.00  0.98  0.94  0.95  0.96
  5.00  3.00 85.00  0.97  0.94  0.94  0.96
  5.00  4.00 84.00  0.95  0.93  0.94  0.95
  5.00  5.00 83.00  0.94  0.92  0.94  0.94
  6.00  0.00 87.00  1.00  0.95  0.94  0.97
  6.00  1.00 86.00  0.99  0.94  0.93  0.96
  6.00  2.00 85.00  0.98  0.94  0.93  0.96
  6.00  3.00 84.00  0.97  0.93  0.93  0.95
  6.00  4.00 83.00  0.95  0.92  0.93  0.94
  6.00  5.00 82.00  0.94  0.91  0.93  0.94
  6.00  6.00 81.00  0.93  0.90  0.93  0.93