In [72]:
!pip install pandas

Requirement already satisfied: pandas in c:\apps\anaconda\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\apps\anaconda\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\apps\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\apps\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\apps\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [73]:
import pandas as pd
import os
path=os.path.join("broadband-dataset","Dataset.xlsx")
dataset = pd.read_excel("Dataset.xlsx")
dataset.head()

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,As of
0,Monaco,1,192.68,NaN,NaN,2022-01-01
1,Singapore,2,192.01,19.0,64.92,2022-01-01
2,Chile,3,189.36,109.0,15.50,2022-01-01
3,Thailand,4,184.03,56.0,32.38,2022-01-01
4,Hong Kong (SAR),5,173.42,38.0,45.86,2022-01-01

In [74]:
#Test und Train-Satzt
X = dataset[["Broadband Mbps", "Country","Mobile Speed Rank",]]
y = dataset[["Broadband Speed Rank"]]

X.head()

   Broadband Mbps          Country  Mobile Speed Rank
0          192.68           Monaco                NaN
1          192.01        Singapore               19.0
2          189.36            Chile              109.0
3          184.03         Thailand               56.0
4          173.42  Hong Kong (SAR)               38.0

In [75]:
#Das es keine Fehler bei not null gibt
from sklearn.impute import SimpleImputer
import numpy as np
si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
si.fit(X)
X_ = si.transform(X)
X = pd.DataFrame(X_, columns=X.columns)
len(X[X.isna().any(axis=1)])

0

In [76]:
#Enocder Country zu zahlen
from sklearn import preprocessing
oe = preprocessing.OrdinalEncoder().fit(X[["Country"]])
X[["Country"]] = oe.transform(X[["Country"]])

In [77]:
X.head()

  Broadband Mbps  Country Mobile Speed Rank
0         192.68    103.0               1.0
1         192.01    141.0              19.0
2         189.36     31.0             109.0
3         184.03    158.0              56.0
4         173.42     64.0              38.0

In [78]:
#Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size = 0.2, random_state = 42)
len(X_train), len(X_test)

(143, 36)

In [79]:
3.2 #Ich habe die Entscheidung getroffen den Algorithmus Nearest Neighbors zu wählen, weil Die 
#Nearest-Neighbour-Klassifizierung ist eine nichtparametrische Methode zum Schätzen von Wahrscheinlichkeitsdichtefunktionen. 
#Der Algorithmus für generierte k-nächste Nachbarn ist ein Klassifizierungsverfahren, bei dem Klassenzuweisungen unter Berücksichtigung seiner k nächsten Nachbarn vorgenommen werden.
#Daher habe ich mich für diesen Algorithmus entschieden und natürlich, weil er am besten zu meinem Datensatzt passt.

3.2

In [80]:
#Immer anderes Resultat wen man 10 mal ausführt sind 9 davon 0 und einmal 0.79 aber manchmal rechnet er auch 0.78.
#Warscheinlich wegen des Datums oder der Datenmänge
from sklearn.neighbors import KNeighborsClassifier
algorithms = {
    "Nearest Neighbors" : KNeighborsClassifier(3),
}

for name, algorithm in algorithms.items():

    algorithm.fit(X_train, y_train.values.ravel())
    score = algorithm.score(X_test, y_test)
    print(name, round(score,))

Nearest Neighbors 0

In [82]:

Brasilien = pd.DataFrame([[3, 20, 3,]], columns=X_train.columns)
Brasilien.head()

Deutschland = pd.DataFrame([[1, 17, 1,]], columns=X_train.columns)
Deutschland.head()

lovebirds_at_sea = pd.concat([Brasilien,Deutschland])
lovebirds_at_sea.head()

   Broadband Mbps  Country  Mobile Speed Rank
0               3       20                  3
0               1       17                  1

In [ ]:
3.3 #Meine Erkenntnisse sind das es richtig berechnet wird jedoch funktieonirt der Algorithmus nicht immer, weil der Datensatzt
#zu knapp von den Daten her ist und ebenfalls könnte es wegen des Datums Probleme geben.
# Daher finde ich das es eigentlich ein passender Algorithmus habe auch manuel getestet die Resultate stimmen.